<div class="container d-flex align-items-center justify-content-center">
  <form action="/answer" data-turbo="false" class="w-50">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0a071573-3155-4a1f-8610-3289c87744e0/dfzq70h-e6f45ac0-fd2e-4632-a8b5-2ff80b11ed86.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBhMDcxNTczLTMxNTUtNGExZi04NjEwLTMyODljODc3NDRlMFwvZGZ6cTcwaC1lNmY0NWFjMC1mZDJlLTQ2MzItYThiNS0yZmY4MGIxMWVkODYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.OtI2avRwfbOqIL8WN9TV0MGQhT3fDgV80P6fIW-eTaU" style="max-width: 40vw; margin-bottom: 10px;" alt="prout">
      <input type="text" class="form-control" name="question" placeholder="Write a question for the coach">
      <div id="emailHelp" class="form-text" style="color: red; font-size: 10px">
        * The coach will only be happy if you are going to work !
      </div>
      <input type="submit" class="btn btn-primary w-100 mt-5" value="Ask!">
  </form>
</div>
